.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/models
*/wandb
*/*.npy
*/*/*.npy
*/*.md
*/*.log
*/weight

.DS_Store
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*.*.pyc
log.txt
models

